jinja2>=3.1.0
flask
markdown2
python-frontmatter
pillow
tqdm
matplotlib
seaborn
pyheif
python-magic
numpy
imagehash
rawpy
onnxruntime>=1.16.0
insightface>=0.7.3
opencv-python-headless>=4.8.0
face_recognition>=1.3.0